.task-box {
    width: 300px;
    padding: 5px;
    margin: 15px auto;
    height: 50px;
    background: #021526;
    border: 2px solid #033159;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.task-txt {
    cursor: pointer;
    width: 100%;
}

.btn {
    height: 25px;
    margin: auto;
    width: 25px;
    border-radius: 50%;
    color: #0367A6;
    font-weight: bold;
    background: transparent;
    border: 2px solid #0367A6
}